.contact h2 {
    margin-top: 3em;
    text-align: center;
}

.contact form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin: 2em auto;
    width: 70%;
}

.contact form label {
    display: flex;
    flex-direction: column;
    margin: 2em 0;
}

.contact form input {
    border: none;
    border-bottom: 2px solid #000;
    margin-top: 1em;
    outline: none;
}

.contact form select {
    border: 2px solid #000;
    border-radius: 5px;
    margin-top: 1em;
    padding: 0.5em 1em;
    outline: none;
    width: 30%;
}

.contact form input:nth-child(6) {
    width: max-content;
    border: none;
    padding: 1em;
    background-color: #61dafb;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}