.container-card-product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 5em auto 10em auto;
    width: 100%;
}

.container-card-product h2 {
    width: 100%;
    text-align: center;
    margin: 2em 0;
}

.container-card-product figure {
    width: 28%;
    padding: 2em;
    border-radius: 5px;
    box-shadow:  5px 5px 10px #bfbfbf,
             -5px -5px 10px #ffffff;
}

.container-card-product figure:hover {
    box-shadow: inset 5px 5px 10px #bfbfbf,
            inset -5px -5px 10px #ffffff;
}

.container-card-product figure img {
    width: 100%;
    background-color: #bfbfbf;
}

.container-card-product figure figcaption h3 {
    color: #61dafb;
    margin-top: 1em;
}

.container-card-product figure figcaption p {
    margin-top: 0.2em;
}

.container-card-product figure figcaption h4 {
    margin-top: 0.2em;
}

.container-card-product figure figcaption h5 {
    margin-top: 0.2em;
}